.blog {
    float: left;    
    width: 70%;
}

.blog-tag {
    background-color: #474747;
    color: #fff;
    width: 20%;
    padding: $space-base/3 $space-large $space-base/3 $space-base/2;
}

.blog-subtitle {
  color: $turquoise;
  font-size: 1rem;
  margin: 0;
}

.blog-title {
    font-size: 2rem;
    margin: 0;
}

.blog-autor {
    font-weight: bold;
    color: #A5A5A5;
}

.blog-img {
    float: left;
    margin-right: $space-out-medium;
    width: 20%;
}

.blog-articles {
    margin-bottom: $space-xxx-out-large;
    overflow: hidden;

    a {
      font-weight: $font-family-base-normal-weight;
    }
}

.categories {
  float: right;
}

.categories-tag {
  background-color: #F3F2F2;  
  margin-bottom: $space-medium;
  padding: $space-medium $space-small;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  text-align: center;  


  .blog-subtitle {
    font-size: 1.5rem; 
  }
}







