.hello-friend {    
    float: left;
    padding: $space-small 0;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
}

.hello-friend__img {
    float: left;
    max-width: 150px;

    img {
        max-width: 100%;
    }
}

.hello-friend_desc {
    color: #fff;
    float: right;
    padding: $space-small;
}

.hello-friend__title {
    color: #fff;
    margin-bottom: 0;
}

.contact-media, .mailchimp-form {
    float: left;
}

.contact-media {
    img {
        width: 70px;
        padding: 0 5px;
    }
}