.hello-friend {
    padding: $space-medium 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.hello-friend__img {
    float: left;
    max-width: 150px;

    img {
        max-width: 100%;
    }
}

.hello-friend_desc {
    color: #fff;
    float: right;
}

.hello-friend__title {
    color: #fff;
    margin-bottom: 0;
}

.mailchimp-form {
    float: left;
}

.contact-media {
    float: left;

    img {
        width: 75px;
        padding: 5px;
    }
}