.icon-hamburger-menu,
.icon-hamburger-menu_close,
.icon-hamburger-menu_open {
    display: none;
}

.toggle-menu {
  @extend .helper-nav;
  background-color: initial;
  margin: 0;
  padding: 0; 
}

.icon-hamburger-menu_close,
.icon-hamburger-menu_open {
    cursor: pointer;
    float: right;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    nav {
        //border-bottom: 2px solid #fff;
        margin: 0 auto;  
        padding-bottom: $space-small;
        width: 60%;
    }

    header {
        //background-color: #21a295;
        height: 100%;
        z-index: 9;
    }
    
    .bg-video {
        display: none; 
    }

    .main-menu__items {
        position: fixed;
        top: -40%;
    }

    .icon-hamburger-menu_open {
    display: initial;
    }
    

    .helper-nav {
        margin-bottom: 0;
    }    

    .main-menu__item {
        float: none;
    }  

    .site-header {        
        position: fixed;
        width: 100%;
    }

    .main-menu__action {
        padding: 4px 0px;
    }
}

@media only screen and (max-width: 678px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 388px) {
    nav {
        min-width: 320px; 
        width: 60%;
    }

    .main-menu__item {
      font-size: 0.75rem;
    }
}

